@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');



:root {
    --primary-color: #1EB386;
    --text-color: #333333;
    /*===== Transition ====*/
    --tran-02: All 0.2s ease;
    --tran-03: All 0.3s ease;
    --tran-04: All 0.4s ease;
    --tran-05: All 0.5s ease;
}

}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.main-container {
    margin-top: 0px;
    width: 100%;
    height: 100%;
}


.logo {
    width: 189.09px;
    height: 54px;
    margin-bottom: 32px;
}

    .logo img {
        width: 189.09px;
        height: 54px;
    }

.header {
    margin-bottom: 12px;
}

.form-header {
    margin-bottom: 32px;
}



.subheader {
    margin-bottom: 32px;
}

.text-header {
    font-family: Outfit;
    font-size: 44px;
    font-weight: 600;
    line-height: 64px;
    text-align: left;
}

.text-subheader {
    font-family: Outfit;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    text-align: left;
}

.log-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-img {
    max-width: 100%;
    /*/ max-height: 100%;*/
     height: 100vh;
}


.l-login {
    /* margin-bottom: 8px;*/
    font-family: Outfit;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.icon-user {
    background-image: url('../image/user.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 30px;
}

.icon-pass {
    background-image: url('../image/password.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 30px;
}

.b-login {
    /*  margin-bottom: 24px;*/
    border: 1px solid black;
}

.l-btn {
    width: 280px;
}

/*register css*/
.container-fluid.reg {
    margin-top: 0px;
    width: 100%;
    height: 100%;
}

.reg .header {
    width: 100%;
    fixed width height: 88px;
    hug height top: 112px;
    position from top left: 332px;
    position from left gap: 12px;
}

.header-text {
    width: 183px;
    height: 40px;
    gap: 8px;
    font-size: 20px;
    font-weight: bold;
}

.text {
    width: 403px;
    height: 36px;
    padding: 4px 0 0 0;
    gap: 4px;
}

    .text .page {
        width: 50px;
        height: 28px;
        font-family: outfit;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
    }

    .text .detail {
        width: 151px;
        height: 28px;
        font-family: outfit;
        font-weight: 600;
        font-size: 20px;
    }

.input-icon {
    background-image: url('../image/chevron-right-regular-24.png');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 30px;
}

.reg-form {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    margin-top: 20px;
    gap: 0;
    border-radius: 12px 12px 12px 12px;
}

.l-user {
    /* width: 481.33px;
    height: 24px;*/
    font-family: outfit;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 24px;*/
    text-align: right;
    margin-bottom: 10px;
}

.u-box {
    margin-bottom: 10px;
    border: 1px solid black;
}

/*Instution registration style css*/

.reg-inst {
    margin-top: 0px;
    width: 100%;
    height: 100%;
}

.container-inst-style {
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.l-inst {
    /*width: 90px;*/
    /*  height: 24px;*/
    height: auto;
    text-align: left;
    font-family: outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.b-inst {
    border: 1px solid black;
}

.row-inst {
    height: auto;
}

.inst-row-form {
    margin-bottom: 5px;
}

.file-upload {
    /*    width: 300px;
    height: 300px;*/
}

.upload {
    margin-top: 5px;
}

.inst-img {
    left: 0px;
    margin-top: 55px;
    width: 100px;
    height: 100px;
}


    .inst-img .card-img-top {
        display: block;
        max-width: 100px;
        max-height: 100px;
    }

.buttom-inst {
    margin-top: 12px;
}


/*side bar css*/


.sidebar {
    position: fixed;
    height: 100%;
    width: 300px;
    background: Var(--sidebar-color);
    padding: 15px;
    z-index: 99;
}

.logo {
    font-size: 25px;
    padding: 0 15px;
}

.sidebar a {
    color: Var(--text-color);
    text-decoration: none;
}

.menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 40px;
    overflow-y: scroll;
}

    .menu-content::-webkit-scrollbar {
        display: none;
    }

.menu-items {
    height: 100%;
    width: 100%;
    list-style: none;
    transition: all 0.4s ease;
}


.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

    .sidebar li .icon {
        color: var(--text-color);
        display: flex;
        align-items: center;
        /* justify-content: center;*/

        font-size: 20px;
        margin-right: 5px;
        font-family: outfit;
    }



.submenu-active .menu-items {
    transform: translateX(-56%);
}

/*.menu-title {
    color: Var(--text-color);
    font-size: 14px;
    padding: 15px 20px;
}*/

.item a,
.submenu-item {
    font-family: outfit;
    padding: 16px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
    display: flex;
}




/*.icon {
   
}*/

.item i {
    font-family: outfit;
    font-size: 12px;
}

.item a:hover, .sidebar li a:hover .icon
/*,
    .Sidebar li .icon,
    .submenu-item:hover,*/
/* .submenu .menu-title:hover*/ {
    color: #fff;
    background: Var(--primary-color);
    transition: var(--tran-02);
}



/*.submenu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
}

.submenu {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: calc(-100% - 26px);
    height: calc(100% + 100vh);
    background: #11101d;
    display: none;
}*/



.navbar,
.main {
    left: 300px;
    width: calc(100% - 300px);
    transition: all 0.5s ease;
    z-index: 1000;
}

.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
    left: 0;
    width: 100%;
}

.navbar {
    position: fixed;
    color: #fff;
    padding: 15px 20px;
    font-size: 25px;
    background: Var(--primary-color);
    cursor: pointer;
}

    .navbar #sidebar-close {
        cursor: pointer;
    }

.main {
    overflow: auto;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: calc(100%- 300px);
    z-index: 100;
    background: #F7F8F7;
}

    .main h1 {
        color: #11101d;
        font-size: 40px;
        text-align: center;
    }

.sidebar #logo {
    width: 189.09px;
    height: 54px;
}
/*.Sidebar.close .text {
    opacity: 0;
}*/

/*
/------------------* dashboard css*------------------/*/
.dashboard {
    margin-top: 0px;
    width: 100%;
    height: 100%;
}

.search-box {
    height: 100px;
    background-color: #fff;
}

.s-box {
    margin-top: 20px;
}

.s-dash {
    margin-top: 30px;
}

.btn-width {
    width: 100%;
}


/*search table csss*/


/*.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e3f8f3;*/ /*/ Lighter shade of #1EB386 for striped rows /*/
/*}

.table-striped tbody tr:nth-of-type(even) {
    background-color: white;*/ /*/ Alternate rows to have white background /*/
/*}

.table-striped tbody tr:hover {
    background-color: #d3f4ec;*/ /*/ Hover effect for striped rows /*/
/*}

.table-bordered {
    border-color: #000000;*/ /*/ Border color for the table /*/
/*}

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #000000;*/ /*/ Border color for table cells /*/
/*}

.table-dark th {
    background-color: #1EB386;*/ /*/ Background color for table header /*/
/*color: white;*/ /*/ Text color for table header /*/
/*}*/
