@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');



:root {
    --primary-color: #1EB386;
    --text-color: #333333;
}

body {
    margin:0;
    padding:0;
}

.row.l {
    height: 1080px;
    justify-items: center;
    align-items: center;
}


/*Test CSS*/
.rightimg{
    height:100%;
    width:100%;
    object-fit:cover;
}

.container-left-style {
    width: 577px;
    height: 510px;
    /*  margin-top: 289px;
    margin-right: 171px;
    margin-bottom: 281px;
    margin-left: 196px;*/
    /*background-color: aqua;*/
}

.logo {
    width: 189.09px;
    height: 54px;
    margin-bottom: 32px;
}

    .logo img {
        width: 189.09px;
        height: 54px;
    }

.log-form {
    width: 577px;
    height: 392px;
}

.form-header {
    width: 577px;
    height: 112px;
    margin-bottom: 32px;
}

.header {
    width: 577px;
    height: 64px;
    margin-bottom: 12px;
}

.text-header {
    font-family: Outfit;
    font-size: 44px;
    font-weight: 600;
    line-height: 64px;
    text-align: left;
}

.subheader {
    width: 577px;
    height: 36px;
    margin-bottom: 32px;
}

.text-subheader {
    font-family: Outfit;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    text-align: left;
}

.log {
    width: 550px;
    height: 248px;
}

.uname {
    width: 550px;
    height: 76px;
    margin-bottom: 24px;
}

.icon-user {
    
    background-image: url('../image/user.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 30px;
}

.l-uname {
    width: 73px;
    height: 24px;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-bottom: 8px; /*will-change COMENT*/
}

#Username.form-control.b-uname {
    width: 550px;
    height: 44px;
    padding: 12px 12px 12px 12px;
    gap: 10px;
    border-radius: 8px 8px 8px 8px;
    border: 1px 1px 1px 1px;
    border: 1px solid #CCCCCC
}

.pass {
    width: 550px;
    height: 76px;
    margin-bottom: 24px;
}

.l-pass {
    width: 73px;
    height: 24px;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-bottom: 8px
}

.icon-pass {
    background-image: url('../image/password.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 30px;
}

#Password.form-control.b-pass {
    width: 550px;
    height: 44px;
    padding: 12px 12px 12px 12px;
    gap: 10px;
    border-radius: 8px 8px 8px 8px;
    border: 1px 1px 1px 1px;
    border: 1px solid #CCCCCC
}

.l-btn {
    width: 550px;
    height: 48px;
}



.container-right-style {
    width: 976px;
    height: 1080px;
}


/*register css*/
.container.reg {
    background-color: #f3f4f9;
    height: 550px;
}

.reg .header {
    width: 100%;
    fixed width height: 88px;
    hug height top: 112px;
    position from top left: 332px;
    position from left gap: 12px;
}

.header-text {
    width: 183px;
    height: 40px;
    gap: 8px;
    font-size: 20px;
    font-weight: bold;
}

.text {
    width: 403px;
    height: 36px;
    padding: 4px 0 0 0;
    gap: 4px;
}

    .text .page {
        width: 50px;
        height: 28px;
        font-family: outfit;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
    }

    .text .detail {
        width: 151px;
        height: 28px;
        font-family: outfit;
        font-weight: 600;
        font-size: 20px;
    }

.input-icon {
    background-image: url('../image/chevron-right-regular-24.png');
    
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 30px;
}

.reg-form {
    background-color: #ffffff;
    width: 100%;
    height: 326px;
    top: 232px;
    left: 332px;
    gap: 0;
    border-radius: 12px 12px 12px 12px;
}

.name {
    width: 481.33px;
    height: 24px;
    font-family: outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.u-box {
    width: 100%;
    height: 44px;
    padding: 10px 0 0 0;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 4px 0 0 0;
    border: 1px solid black;
}

.ins {
    width: 481.33px;
    height: 24px;
    font-family: outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.b-ins {
    width: 100%;
    height: 44px;
    padding: 10px 0 0 0;
    margin-bottom: 10px;
    border-radius: 4px 0 0 0;
    border: 1px solid black;
}

.role {
    width: 481.33px;
    height: 24px;
    font-family: outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.b-role {
    width: 100%;
    height: 44px;
    padding: 10px 0 0 0;
    gap: 10px;
    border-radius: 4px 0 0 0;
    border: 1px solid black;
}

.rpass {
    width: 481.33px;
    height: 24px;
    font-family: outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.b-rpass {
    width: 100%;
    height: 44px;
    padding: 10px 0 0 0;
    margin-bottom: 10px;
    gap: 10px;
    border-radius: 4px 0 0 0;
    border: 1px solid black;
}

.rcpass {
    width: 481.33px;
    height: 24px;
    font-family: outfit;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.b-rcpass {
    width: 100%;
    height: 44px;
    padding: 10px 0 0 0;
    margin-bottom: 10px;
    border-radius: 4px 0 0 0;
    border: 1px solid black;
}

/*Instution registration style css*/
.container-inst-style {
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.l-inst {
    /*width: 90px;*/
    /*  height: 24px;*/
    text-align: right;
    font-family: outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.row-inst {
    height: 100%;
}

.inst-row-form {
    margin-bottom: 5px;
}

.file-upload {
    width: 400px;
    height: 400px;
}

.inst-img {
    width: 200px;
    height: 200px;
}

    .inst-img img {
        display: block;
        max-width: 200px;
        max-height: 200px;
    }

.buttom-inst {
    margin-top: 0;
}


/*side bar css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 260px;
    background: Var(--sidebar-color);
    padding: 15px;
    z-index: 99;
}

.logo {
    font-size: 25px;
    padding: 0 15px;
}

.sidebar a {
    color: Var(--text-color);
    text-decoration: none;
}

.menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 40px;
    overflow-y: scroll;
}

    .menu-content::-webkit-scrollbar {
        display: none;
    }

.menu-items {
    height: 100%;
    width: 100%;
    list-style: none;
    transition: all 0.4s ease;
}

.submenu-active .menu-items {
    transform: translateX(-56%);
}

.menu-title {
    color: Var(--text-color);
    font-size: 14px;
    padding: 15px 20px;
}

.item a,
.submenu-item {
    padding: 16px;
    display: inline-block;
    width: 100%;
    border-radius: 12px;
}

.item i {
    font-size: 12px;
}

.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
    background: Var(--primary-color);
}

.submenu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: Var(--text-color);
    cursor: pointer;
}

.submenu {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: calc(-100% - 26px);
    height: calc(100% + 100vh);
    background: Var(--sidebar-color);
    display: none;
}

.show-submenu ~ .submenu {
    display: block;
}

.submenu .menu-title {
    border-radius: 12px;
    cursor: pointer;
}

    .submenu .menu-title i {
        margin-right: 10px;
    }

.navbar
 {
    left: 300px;
    width: calc(100% - 300px);
    transition: all 0.5s ease;
    z-index: 1000;
}

.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
    left: 0;
    width: 100%;
}

.navbar {
    position: fixed;
    color: #fff;
    padding: 15px 20px;
    font-size: 25px;
    background: #4070f4;
    cursor: pointer;
}

    .navbar #sidebar-close {
        cursor: pointer;
    }

/*.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 100;
    background: #e7f2fd;
}

    .main h1 {
        color: #11101d;
        font-size: 40px;
        text-align: center;
    }*/