@model IncidentManagementSystem.Model.ServiceDto
@*@{
        ViewBag.Title = "GetService";
    }*@
<div class="container-fluid service">


    @using (Html.BeginForm("GetService", "Instution", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="col-lg-4 inst-row-form">
            @Html.LabelFor(m => m.InstitutionName, new { @class = "col-md-4 col-form-label l-inst" })
            <div class="col-lg-12">
                @Html.TextBoxFor(m => m.InstitutionName, new { @class = "form-control b-inst" })
            </div>
        </div>
    }
</div>