@using IncidentManagementSystem.Model
@model List<TicketDto>

@{
    int sno = 0; // Initialize serial number
                 //int sno = (ViewBag.CurrentPage - 1) * ViewBag.Offset;
}


<style>
    .table.one {
        border: 1px solid #dee2e6 !important;
    }

        .table.one td {
            padding: 0.5rem !important;
        }
</style>

@if (Model != null && Model.Any())
{
    <div class="panel panel-default overflow-auto" style=" font-family: outfit-black !important;">
        <table class="table one">
            <thead class="whitespace-nowrap">
                <tr>
                    <th>S No.</th>
                    <th>Date</th>
                    <th>Service Name</th>
                </tr>
            </thead>
            <tbody class="whitespace-nowrap">
                @foreach (var item in Model)
                {
                    sno++;
                    <tr>
                        <td>@sno</td>
                        <td>@item.date.ToString("yyyy-MM-dd")</td>
                        <td>@item.ServiceName</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{ <table class="table one">
        <thead class="whitespace-nowrap">
            <tr>
                <th>S No.</th>
                <th>Date</th>
                <th>Service Name</th>
            </tr>
        </thead>
    </table>
     
        <h5>No Recent Activity</h5>
        }
